.content-area {
    max-width: 576px;
}

.footer-name {
    color: red;
}

.footer-name:hover {
    color: white;
    text-decoration: none;
}

#search {
    color: red;
}

#search:hover {
    color: white;
}

.temp {
    font-size: 1.2em;
    padding-right: 3px;
    display:table-cell;
    vertical-align:middle;
}

.temp-box {
    display:table;
}

.temp-unit {
    cursor: pointer;
    font-size: 1em;
    padding: 2px 3px;
    color: red;
    display: table-cell;
    vertical-align: middle;
}

.temp-unit:hover {
    color: white;
}